.skills_percent {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.Decrrase_percent {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.Decrease_content {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #8d8d8d;
}
