.training_padding {
  padding-left: 8%;
  padding-right: 8%;
}

.training_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
}

.Trainig_heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.slots_traing {
  font-size: 10px;
  line-height: 12px;
  color: #f68b1f;
}

.haeding_data {
  font-size: 12px;
  line-height: 14px;
  color: #8d8d8d;
}

.book_trainig_trial {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #84b140;
  cursor: pointer;
}

.orange_back_image {
  width: 379.92px;
  height: 319.75px;
  margin-top: 100px;
  background: #f68b1f;
  border-radius: 14px;
  background-image: url("../images/Green_rectangle.png");
}
