.Trainig_background_clr {
  background: radial-gradient(
    73.17% 4006.39% at 82.98% 26.83%,
    #97c94b 0%,
    #84b140 100%
  ) !important;
}
.training_padding {
  padding-top: 10%;
  padding-left: 8%;
  padding-right: 8%;
}
.trainig_heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 36px;
  color: #ffffff;
}
.training_image {
  width: 85%;
}
.trainig_top_label {
  color: #fff;
  font-size: 15px;
}

.crsoul_location {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.data_tabs .PrivateTabIndicator-colorSecondary-3 {
  background-color: transparent !important;
}
.tabs_text_formatting {
  text-transform: capitalize !important;
  color: #fff !important;
}

@media (min-width: 600px) {
  .data_tabs .MuiTab-root {
    min-width: 40px !important;
  }
}

.data_tabs {
  border-bottom: 0.5px solid #fff;
}
.Training_btn {
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 11px !important;
  line-height: 12px !important;
  text-align: center !important;
  color: #ffffff !important;
  border: 0.2px solid white !important;
  background: transparent !important;
  border-radius: 4px !important;
  outline: none !important;
  text-decoration: none !important;
  padding: 12px 15px !important;
  text-transform: capitalize !important;
}
.Training_btn:hover {
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 11px !important;
  line-height: 12px !important;
  text-align: center !important;
  color: #ffffff !important;
  background: #fd9a37 !important;
  border-radius: 4px !important;
  outline: none !important;
  text-decoration: none !important;
  padding: 12px 15px !important;
  text-transform: capitalize !important;
}

.Training_Online_offline_btn {
  width:100% !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 11px !important;
  line-height: 12px !important;
  text-align: center !important;
  color: #ffffff !important;
  border: 0.2px solid white !important;
  background: transparent !important;
  border-radius: 4px !important;
  outline: none !important;
  text-decoration: none !important;
  padding: 17px 25px !important;

}

.Training_Online_offline_btn:hover {
  width:100% !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 11px !important;
  line-height: 12px !important;
  text-align: center !important;
  color: #ffffff !important;
  border: 0.2px solid white !important;
  background: #fd9a37 !important;
  border-radius: 4px !important;
  outline: none !important;
  text-decoration: none !important;
  padding: 17px 25px !important;
 
}
@media only screen and (min-width: 300px) and (max-width: 650px) {
  .training_image {
    width: 100%;
  }
  .trainig_heading {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
  }
}
