.home_Page_heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.home_data {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #8d8d8d;

}
.heading_content_formatting {
  color: #84b140;
}

@media only screen and (min-width: 280px) and (max-width: 700px) {
  .home_Page_heading {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
  }
}


