.home_Page_heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.home_data {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #8d8d8d;
}
.heading_content_formatting {
  color: #84b140;
}

.home_cards_Icons_background {
  background: #84b140;
  width: 100%;
  height: 203px;
}

.health_crasoul_image {
  width: 100%;
}

.content_to_icons {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.what_offers {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.card_border {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.card_border:hover {
  background: #78a435;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
}

.view_online {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.play_back_image {
  background-image: url("../images/play.png");
  width: 100%;
  height: 200px;
}

.Play_Name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}
.jr_knight {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.Watch_now {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
.play_icons {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}
.vector_image {
  width: 59px;
  height: 59px;
  background: #fff;
  border-radius: 50%;
}

.events_data {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.Card_back_color:hover {
  background-color: #84b140 !important;
  cursor: pointer;
}

.make_your_little {
  background-image: url("../images/makelittle.png");
  width: 100%;
  height: 330px;
  background-size: cover;
}

.make_little_margin {
  margin-top: 100px;
}

.make_little_heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}

.make_little_content {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.chap_acqire_heading {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.champ_acquire_image {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
}

.champ_data {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.Card_champ_onhover:hover {
  background-color: #84b140 !important;
  cursor: pointer;
  transform: scale(1.1) !important;
}
@media only screen and (min-width: 280px) and (max-width: 700px) {
  .home_Page_heading {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
  }
}
